.text-banner.block {
    background-color: var(--light-grey);
    padding: 20px;
    display: flex;
    flex-direction: column;

    blockquote {
        font-size: 32px;
        position: relative;
        margin: 25px 40px 8px;

        &::after {
            position: absolute;
            bottom: -15px;
            left: 0;
            content: "";
            width: 80px;
            border-bottom: 2px solid var(--highlight-color);
        }
    }

    .author {
        margin: 25px 40px 8px;
    }
}