footer .footer.block {
  background: var(--text-color);
  color: var(--light-color);
  padding-top: 20px;
  padding-bottom: 20px;
  .wknd-logo-img {
    height: 52px;
  }

  .footer-menu-section {
    display: flex;
    justify-content: space-between;

    .footer-menu {
      display: flex;
      list-style: none;
      gap: 20px;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: center;

      .active a {
        text-decoration: underline;
        text-underline-offset: 4px;
      }

      a {
        color: var(--light-color);
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }

  .section.copy-right {
    font-size: 13px;
    margin-top: 40px;

    a {
      color: var(--light-color);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

@media screen and (width <= 480px) {
  footer .footer.block {
    .footer-menu-section {
      align-items: center;
      .footer-menu {
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
      }
    }
  }
}